.columns-promo > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns-promo img {
  width: 100%;
  max-width: 400px;
}

.columns-promo > div > div {
  order: 1;
}

.columns-promo > div > .columns-promo-img-col {
  order: 0;
}

.columns-promo > div > .columns-promo-img-col img {
  display: block;
}

.columns-promo h2,
.columns-promo h3 {
  font-weight: 700;
  color: var(--text-color);
  margin-top: 0;
}

.columns-promo p {
  line-height: 1.6;
  color: var(--text-color);
}

@media (width >= 900px) {
  .columns-promo > div {
    align-items: center;
    flex-direction: unset;
    gap: 48px;
  }

  .columns-promo > div > div {
    flex: 1;
    order: unset;
  }
}
